/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* universal reset on universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* project wide definitions to be inherited by child elements */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px; /* padding around whole site to act as a frame */
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 131, 0.8)
    ),
    url(../img/hero.jpg); /* multiple images for background-image */
  background-size: cover;
  background-position: top;

  /* (x y) coord pairs to keep */
  clip-path: polygon(0 0, 100% 0%, 100% 85vh, 0 100%);

  /* position relative as parent of logo-box */
  position: relative;
}

.logo-box {
  position: absolute;
  top: 3%;
  left: 3%;
}

.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); /* in relation to this element itself */
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px;

  /* to remove unnecessary twitch from header transform */
  backface-visibility: hidden;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  animation-name: moveInFromLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;

  animation: moveInFromRight 1s ease-in;
}

@keyframes moveInFromLeft {
  /* before animation starts */
  0% {
    opacity: 0;
    transform: translateX(-100px)
  }

  /* transition between start and end */
  80% {
    transform: translateX(10px);
  }

  /* when animation ends */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInFromRight {
  /* before animation starts */
  0% {
    opacity: 0;
    transform: translateX(100px)
  }

  /* transition between start and end */
  80% {
    transform: translateX(-10px);
  }

  /* when animation ends */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInFromBottom {
  /* before animation starts */
  0% {
    opacity: 0;
    transform: translateY(25px)
  }

  /* when animation ends */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* to be moved to separate files later */
.btn:link,
.btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 100px;
  position: relative;

  /* transition on initial state, the transform for hover and active is relative */
  transition: all .2s
}

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}

/* when click button, will already be hovering */
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
}

.btn-white {
  background-color: white;
  color: #777;
}

.btn-animated {
  animation: moveInFromBottom .8s ease-in;
  animation-fill-mode: backwards; /* apply keyframe 0% before animation starts */
}

.btn::after {
  /* content and display required for ::after, even if empty */
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  /* initial element for .btn:hover::after */
  transition: all .4s;
}

.btn-white::after {
  background-color: white;
}

.btn:hover::after {
  transform: scale(1.15);
  opacity: 0; /* make it disappear after transition time */
}