.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;

  /*
    to cover white part from first section ".header {}"
    which is 95vh and clipped at 75vh
    95 - 75 = 20vh
  */
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  margin-top: -10rem;

  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)
  ),
  url(../../img/nat-4.jpg); /* multiple layers for background-image comma separated */

  background-size: cover;

  /* can use clip and polygon, but will use skew */
  transform: skewY(-7deg);

  /* select all only DIRECT children, row in this case */
  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 50rem 0;
  margin-top: -10rem;

}